.custom-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 50px;
  gap: 1px;
  flex: 1 1 auto;
  counter-reset: grid;

  .custom-grid-item {
    &::after {
      counter-increment: grid;
    }

    &:last-child:nth-child(2n - 1) {
      grid-column: span 2;
    }

    margin-bottom: 5px;
  }
}
